{% extends "portfolio/base.html" %}
{% block content %}
{{ block.super }}
<div id="background-image">
    <div class="row">
        <div class="col s12">
        	  <h4>Search and Acquire Climate Data</h4>
            <p class="subheader flow-text">In the process of developing this application, I realized I had to place a few restrictions on the search, so my little server doesn't get overrun.</p>
            <p class="subheader flow-text">For this reason, the largest search radius is set to 40km.  If you'd like a custom query, either for a larger search area, for hourly climate data, or for any other large data manipulation tasks, feel free to contact me at dan[at]dkhydrotech[dot]com, or reach out to me through the LinkedIn, Github, or Google+ links in the footer.</p>
            <h4>Results</h4>
          {% if stations %}
             <table class="highlight">
               <thead>
                 <tr>
                   <th>Station Name</th>
                   <th>Station ID</th>
                   <th>Lat/Lon [dec. degrees]</th>
                   <th>Distance to Target [km]</th>
                   <th>Record Start Year</th>
                   <th>Record End Year</th>
                   <th>Download [daily]</th>
                 </tr>
               </thead>
               <tbody>
                 {% for station in stations %}
                  <tr>
                    <td>{{ station.station_name }}</td>
                    <td>{{ station.station_ID }}</td>
                    <td>{{ station.latlon }}</td>
                    <td>{{ station.distance_to_target|floatformat:1 }}</td>
                    <td>{{ station.start_year }}</td>
                    <td>{{ station.end_year }}</td>
                    <td><a href="{% url 'climate-scrape-export' station_ID=station.station_ID start_year=station.start_year end_year=station.end_year %}">
                      <i class="material-icons">cloud_download</i>
                    </a></td>
                  </tr>
                 {% endfor %}
               </tbody>
            </table>
            {% else %}
              <p class="subheader">No stations found.  Try a larger search radius or another location.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="subheader">This tool retrieves and concatenates data collected, reviewed, and published by <a href="http://climate.weather.gc.ca/">Environment Canada</a>.  The author of this software does not guarantee the accuracy of any data, and this application is provided WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the <a href="http://www.gnu.org/licenses/">GNU General Public License</a> for more details.</p>
      </div>
    </div>
</div>
    <!--{# {% render_bundle 'vendors' %}#}
    {# {% render_bundle 'App1' %}  #} -->
{% endblock content %}
