{% extends 'dkht/base.html' %}
{% load static %}
{% block content %}


{{ block.super }}
<div id="index-banner" class="parallax-container hide-on-small-only">

  <div class="section no-pad-bot">
    <div class="container">
    </div>
  </div>

  <div class="parallax">
    <img src="{% static 'images/sub-zero_water.JPG' %}" alt="Unsplashed background img 1">
  </div>

</div>

<div id="background-image">
    <div class="container-fluid">
      <br>
        <div class="row valign-wrapper">

            <div class="col s4 m3 l3 push-l1">
                <div class="img-logo">
                    <img src="{% static 'images/dkhydrotech1.3.1.svg' %}" class="shadow responsive-img">
                </div>
            </div>

            <div class="col s6 m5 pull-m2 pull-l1">
                <h4 class="green-text text-darken-4">Dan Kovacek, P.Eng.</h4>
                <ul class="contact-list grey-text text-darken-4">
                    <li>Data Analysis</li>
                    <li>Fullstack Development</li>
                    <li>Hydrotechnical Engineering</li>
                    <li>dan@dkhydrotech.com</li>
                    <li>Vancouver, BC</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="index-banner" class="parallax-container hide-on-small-only">
  <div class="section no-pad-bot">
    <div class="container">

    </div>
  </div>
  <div class="parallax">
    <img src="{% static 'images/seed_peak.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>

{% if user.is_authenticated %}
<div class="row">
    <div class="col s12">
        <div class="add-btn">
            <a class="waves-effect waves-light btn grey darken-3 white-text text-lighten-2" href="{% url 'dkht:entry-create' %}">
                <i class="material-icons right">add</i>Content
            </a>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
