{% extends 'dkht/base.html' %}
{% load static %}
{% block content %}


{{ block.super }}
<div id="index-banner" class="parallax-container hide-on-small-only">

  <div class="section no-pad-bot">
    <div class="container">
    </div>
  </div>

  <div class="parallax">
    <img src="{% static 'images/lakeview1.jpg' %}" alt="Unsplashed background img 1">
  </div>

</div>

<div id="background-image">
  <div class="container-fluid">
    <br>
    <div class="row valign-wrapper">

      <div class="col s3 m2 l2 push-l1">
        <div class="img-logo">
          <img src="{% static 'images/dkhydrotech1.3.1.svg' %}" class="shadow responsive-img">
        </div>
      </div>

      <div class="col s7 m4 pull-m3 pull-l2">
        <h4 class="light-green-text text-darken-3">DK Hydro/Tech</h4>
        <ul class="contact-list grey-text text-darken-4">
          <li>Data Analysis</li>
          <li>Fullstack Development</li>
          <li>Hydrotechnical Engineering</li>
          <li>dan@dkhydrotech.com</li>
          <li>Vancouver, BC</li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col s12">

        <!-- <img src="{% static 'images/sub-zero_water.JPG' %}" class="responsive"> -->
      </div>
      <div class="col s12 m10 push-m1">
        <h2 class="light-green-text text-darken-3">Data Analysis</h2>
        <blockquote class="flow-text light-green-text text-darken-2">
          Don't repeat routine data manipulation tasks. Instead, automate.
        </blockquote>
        <p class="flow-text grey-text text-darken-1">
          Organizations are managing ever-greater amounts of data.
          Most professionals working with data will attest that the
          amount of time spent collecting and organizing data greatly outweighs
          the time spent applying valuable specialized skills and experience to
          the data itself. In addition, as more complex models are developed from
          data, the more difficult it is to gain an intuitive grasp of what the
          data is showing. Modern web-based technology is constantly changing,
          improving, and providing interesting new ways to manage, analyse, and present data.
          Call for a consultation on your data goals in any discipline.
        </p>
        <div class="chip light-green lighten-3 grey-text text-darken-3">Statistical Modelling</div>
        <div class="chip light-green lighten-3 grey-text text-darken-3">Python</div>
        <div class="chip light-green lighten-3 grey-text text-darken-3">Django</div>
        <div class="chip light-green lighten-3 grey-text text-darken-3">Javascript</div>
        <div class="chip light-green lighten-3 grey-text text-darken-3">Interactive Data Visualization</div>
        <div class="chip light-green lighten-3 grey-text text-darken-3">Data Acquisition</div>
        <div class="chip light-green lighten-3 grey-text text-darken-3">Multithreading / Parallel Computing</div>
      </div>
    </div>
    <br>
  </div>
</div>

<div id="index-banner" class="parallax-container hide-on-small-only">
  <div class="section no-pad-bot">
    <div class="container">

    </div>
  </div>
  <div class="parallax">
    <img src="{% static 'images/data_viz.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>

<div class="row">
  <div class="col s12 m10 push-m1">
    <h2 class="light-green-text text-darken-3">Hydrotechnical Engineering</h2>
    <blockquote class="flow-text light-green-text text-darken-2">
      Engineering Consulting in water resources, value engineering.
    </blockquote>
    <p class="flow-text grey-text text-darken-1">
      I'm a registered professional engineer in British Columbia with ten years
      experience in hydropower, mining, and water resource management.
      In both owner's and contractor's engineer roles, I've worked on brownfield
      and greenfield hydropower developments for BC Hydro, Brookfield
      Renewable Energy Partners, Innergex Renewable Energy Inc.,
      Alterra Power, among others. My work experience includes technical
      engineering design (structural concrete and steel design, and hydraulic
      structures), quantitative modelling, hydrological analysis, value engineering,
      financial analysis, technical report writing, and management
      (project management, quality assurance, field supervision). As an
      independent contractor, I offer consulting services related to my
      experience.
      </thead>
    </p>
    <div class="chip light-green lighten-3 grey-text text-darken-3">Hydraulics</div>
    <div class="chip light-green lighten-3 grey-text text-darken-3">Value Engineering</div>
    <div class="chip light-green lighten-3 grey-text text-darken-3">Hydrology</div>
    <div class="chip light-green lighten-3 grey-text text-darken-3">Climatology</div>
    <div class="chip light-green lighten-3 grey-text text-darken-3">Technical Writing</div>
  </div>
</div>
<br>

<div id="index-banner" class="parallax-container hide-on-small-only">
  <div class="section no-pad-bot">
    <div class="container">

    </div>
  </div>
  <div class="parallax">
    <img src="{% static 'images/intake.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>

{% endblock content %}