{% extends 'dkht/base.html' %}
{% load static %}
{% load embed_video_tags %}


{% block content %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/post_markdown.js' %}"></script>

    <div id="background-image">
        <div class="container">
            <!-- START VIDEO LAYOUT -->
            {% if entry.type == 'video' %}
                {%  if entry.video %}
                    <div class="row">
                        <div class="col s12 m10 push-m1">
                            <div class="video-container">
                                {% video entry.video %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
            <!-- END VIDEO LAYOUT -->

            <div class="row">
                <div class="col s12 light-green-text text-darken-3">
                    <h3>{{ entry.title }}</h3>
                </div>

                <!-- START PHOTO/BLEG/ILLUSTRATION LAYOUT -->
                {% if entry.image %}
                    <div class="row">
                        <div class="col s12 m10 push-m1 center-align">
                            <img class="responsive-img main-img" src="{{ entry.image.url }}">
                        </div>
                    </div>
                {% endif %}

                <div class="col s12 m10 push-m1">
                    <blockquote class="flow-text light-green-text text-darken-3">
                        {{ entry.byline }}
                    </blockquote>
                </div>

                {% if bk_script %}
                <div class="row">
                  <div class="col s12">

                    {{ bk_script|safe }}
                  </div>
                </div>
                {% else %}
                {% endif %}

                <div class="col s12 m10 push-m1">
                    {% if entry.text_body %}
                        <p class="flow-text">
                            {{ entry.formatted_markdown|safe }}
                        </p>
                    {% endif %}
                </div>

                <div class="col s12 m10 push-m1">
                    <h5 class="right light-green-text text-darken-3">Posted: {{ entry.created.date }}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m10 push-m1">
                    {% if entry.tags %}
                        {% for tag in entry.tags_as_list %}
                            <div class="chip light-green lighten-2 hoverable">
                                <a href="{% url 'dkht:tag-list' pk=tag %}" class="grey-text text-darken-3 ">{{ tag }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
            {% if  user.is_authenticated %}
                <div class="row">
                    <div class="col s6 center">
                        <a href="{% url 'dkht:entry-update' pk=entry.id %}">
                            <i class="material-icons medium light-green-text text-darken-2">edit</i></a>
                    </div>
                    <div class="col s6 center">
                        <a href="{% url 'dkht:entry-delete' pk=entry.id %}">
                            <i class="material-icons medium light-green-text text-darken-2">delete</i></a>
                    </div>
                </div>
            {% endif %}
          {% endif %}
        </div>
    </div>

{% endblock content %}
