{% extends 'dkht/base.html' %}
{% load static %}
{% block content %}


{{ block.super }}

<div id="background-image">
    <div class="container-fluid">
        <div class="row">
          <div class="col s12 m10 push-m1 l8 push-l2">
              <h2 class="light-green-text text-darken-3">Projects</h2>
          </div>
        </div>

        {% if object_list %}
          <div class="row">
            {% for entry in object_list %}

            <div class="col s12 m10 push-m1 l8 push-l2">
              <a href="{% url 'dkht:entry-detail' pk=entry.id %}">
                  <div class="card hoverable">
                    <div class="row valign-wrapper">
                      <div class="col s12 m3 l2">
                        <img src="{{ entry.img_thumb.url }}">
                      </div>
                      <div class="col s12 m9 l10">
                        <div class="card-content black-text">

                            <span class="right light-green-text text-darken-2">{{ entry.created.date }}</span>
                            <h4 class="grey-text text-darken-3">
                                {{ entry.title }}
                            </h4>

                            <blockquote class="flow-text light-green-text text-darken-3">
                                {{ entry.byline }}
                            </blockquote>

                            <p class="flow-text truncate grey-text">
                              {{ entry.text_body|safe }}
                            </p>



                        </div>
                      </div>
                    </div>
                  </div>
                </a>
            </div>

            {% endfor %}
          </div>
        {% else %}
          <p>
              <a class="subheader">You haven't added any content yet.</a>
          </p>
        {% endif %}
    </div>
</div>

<div id="index-banner" class="parallax-container hide-on-small-only">
  <div class="section no-pad-bot">
    <div class="container">

    </div>
  </div>
  <div class="parallax">
    <img src="{% static 'images/intake.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>

<div class="row valign-wrapper">

    <div class="col s3 m2 l2 push-l1">
        <div class="img-logo">
            <img src="{% static 'images/dkhydrotech1.3.1.svg' %}" class="shadow responsive-img">
        </div>
    </div>

    <div class="col s7 m4 pull-m3 pull-l2">
        <h4 class="light-green-text text-darken-4">DK Hydro/Tech</h4>
        <ul class="contact-list grey-text text-darken-4">
            <li>Data Analysis</li>
            <li>Fullstack Development</li>
            <li>Hydrotechnical Engineering</li>
            <li>dan@dkhydrotech.com</li>
            <li>604.842.0619</li>
        </ul>
    </div>

</div>


{% endblock content %}
