{% extends "dkht/base.html" %}
{% block content %}
{{ block.super }}
<div id="background-image">
    <div class="row">
        <div class="col s12">
        	  <h4>Create a New Entry</h4>
            <form action="{{ action }}" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}

                <a href="{% url 'dkht:entry-list' %}" class="btn-floating btn-large waves-effect waves-light">
                    <i class="large material-icons grey darken-3 green-text text-lighten-2">clear</i>
                </a>
                <button type="submit" class="btn-floating btn-large waves-effect waves-light" onclick="Materialize.toast('Post Created!', 4000)">
                    <i class="large material-icons grey darken-3 green-text text-lighten-2">send</i>
                </button>

                </a>

    		</form>
              {{ form.media }} 
        </div>
    </div>
</div>
    <!--{# {% render_bundle 'vendors' %}#}
    {# {% render_bundle 'App1' %}  #} -->
{% endblock content %}
