@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';


body {
	font-family: 'Roboto Condensed', sans-serif;
	max-width: 100vw;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

button#donateButton {
	padding: 0.5em 2em 0.5em
}

main {
	flex: 1 0 auto;
}

nav a {
	min-width: 48px;
	min-height: 48px;
	text-decoration: none;
	color: rgba(60,60,60,0.8);
	background-color: rgba(0,0,0,0);
	margin: 0 0.5em 0 0.5em;
	font-size: 1.75em;
}

nav a:visited, nav a:link, footer a:visited, footer a:link, p.flow-text a {
	color: rgba(60,60,60,0.8);
}

/*a {
	/*color: rgba(0,0,0,0.9);*/
	/*text-decoration: none;
}*/

/*a:link {
	color: rgb(104, 162, 106);
	text-decoration: none;
}

a:visited {
	color: rgb(104, 162, 106);
	text-decoration: none;
}

a:hover {
	color: rgb(129, 199, 132);
	background-color: rgba(0,0,0,0);
	text-decoration: none;
}*/

button:hover {
	color: rgba(60,60,60,0.8);
	background-color: rgba(0,0,0,0);
	text-decoration: none;
}

button {
	border: 0px;
	background-color: rgba(0,0,0,0)
}

ul {
	font-size: 1.25em;
	list-style: none;
	margin: 0;
	padding: 0;
}

#code {
    border: 1px solid #000;
    background-color: rgba(255,255,255,.9);
    font-family: monospace;
    margin: 1em;
    padding: .5em;
    word-break: break-all;
    display:none;
}

svg { display: none; }
html { width: 100%; height: 100%; }

blockquote {
	border-left: 5px solid #c5e1a5;
}

.parallax-container {
	height: 60vh;
}

.svg-logo-wrapper {
	display: inline-block;
	position: relative;
	width: 40px;
	margin: 5px 5px 10px 10px;
	/*padding: 0.25em 0 0.25em 1em;*/
}

img:not(.png) {
  width: 100%;
}

.contact-list {
	margin: 0 auto 0 auto;
}

.shadow {
    -webkit-filter: drop-shadow( 3px 3px 3px rgba(0,0,0,0.6) );
    filter: drop-shadow( 3px 3px 3px rgba(0,0,0,0.6) ); /* Same syntax as box-shadow */
}
